<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="small-footer">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div style="display: flex">
    <div style="margin: 0 10px">
      {%- include social.html -%}
    </div>
    <div style="margin: 0 10px">
      <ul class="contact-list">
      <li class="p-name">{{ site.author.name | escape }}</li>
      <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      </ul>
    </div>
  </div>

</footer>
