<div class="nav-items">
  <a href="{{ 'about.html' | relative_url }}">About</a>
  <div class="dropdown">
    <button class="dropbtn">Professional Work
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ 'work.html' | relative_url }}">History</a>
      <a href="{{ 'skills.html' | relative_url }}">Skills</a>
      <a href="{{ 'pubs.html' | relative_url }}">Publications</a>
    </div>
  </div>
  <a href="{{ 'personal.html' | relative_url }}">Personal Projects</a>
  <a href="{{ 'contact.html' | relative_url }}">Contact</a>
</div>
