---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.wrapper {
  width: 95vw;
  margin: 0 auto;
  padding: 0 0;
  @extend %clearfix;

  @media screen and (max-width: $on-medium) {
    padding-right: $spacing-unit * 0.6;
    padding-left: $spacing-unit * 0.6;
  }
}

.wrapper-wide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;

  @media screen and (max-width: $on-medium) {
    padding-right: $spacing-unit * 0.6;
    padding-left: $spacing-unit * 0.6;
  }
}

.small-footer {
  border-top: 1px solid $border-color-01;
  padding: 15px 0;
}

.nav-item {
  color: $text-color;
}

.nav-items a {
  float: right;
  text-align: center;
  color: $text-color;
  padding: 0 15px;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
  width: max-content;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  color: $text-color;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 150px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
